.collections-container {
  background-color: var(--main-darker);
  color: var(--background-text);
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

div.search-collection-input {
  width: 100%;
}

.search-container {
  width: 0%;
  display: flex;
  justify-content: center;
  background-color: var(--background-secondary);
  margin-top: 30px;
  border-radius: 4px;
  border: 0.1em #514d4d solid;
  transition: all 0.2s ease;
}

.search-container.open {
  width: 30%;
  padding: 0rem 2%;
  transition: all 0.5s ease;
}
.search-icon {
  filter: invert(1);
  cursor: pointer;
}

.back-btn-container {
  position: absolute;
  left: 2%;
  top: 2%;
}

.profile-btn-container {
  position: absolute;
  right: 2%;
  top: 2%;
}
.collections-list {
  width: 100%;
}

.collection-row {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 5%;
  width: 90%;
  justify-content: space-between;
}

span.collection-name {
  background-color: unset;
}

.collection-name .collection-fp .collection-volume .collection-total-supply {
  flex: 1;
}

.search-collection-input input {
  color: var(--secondary-background-text);
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

/* DATAGRID */

div.MuiDataGrid-row[role="row"] {
  border-top: white 0.1em solid;
  font-family: "Inter", sans-serif;
  color: var(--background-text);
  cursor: pointer;
  border: none;
}

div.MuiDataGrid-virtualScrollerRenderZone:first-child {
}

div.MuiDataGrid-row[role="row"]:hover {
  background-color: rgba(231, 76, 60, 0.28);
  font-weight: 600;

  transition: all 0.25s ease-out;
}

div.MuiDataGrid-columnHeader[role="columnheader"] {
  color: var(--background-text);
  font-family: "Inter", sans-serif;
  letter-spacing: 0.165em;
  font-weight: 600;
  font-size: 16px;
  border: none;
}

div.MuiDataGrid-columnHeaders {
}

@media only screen and (max-width: 850px) {
  /* DATAGRID */
  div.MuiDataGrid-row[role="row"] {
    font-size: 12px;
  }

  div.MuiDataGrid-columnHeader[role="columnheader"] {
    font-size: 14px;
  }
}
