.collection-items {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* flex-direction: row; */
  gap: 26px;
  width: 90%;
  max-width: 90%;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: scroll;
}

.collection-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 50%;
  flex: 1;
  align-items: center;
}

.collection-item-image {
  background-color: #fff;
  width: 190px;
  height: 190px;
  cursor: pointer;
}

.items-title {
  position: relative;
  align-self: flex-start;
  left: 2%;
}

.collected-items-images-container {
}
