.collection-items {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 26px;
  width: 90%;
  max-width: 90%;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  background: var(--background-secondary);
  cursor: pointer;
  width: 0.75em;
}

::-webkit-scrollbar-thumb {
  background: var(--background-main);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.1);
}

.collection-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 60%;
  flex: 1;
  /* align-items: center; */
}

.collection-item-image {
  background-color: #fff;
  width: 150px;
  height: 150px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.3);
}

.collection-item-image:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.items-title {
  position: relative;
  align-self: flex-start;
  left: 2%;
}

.collected-items-images-container {
}

.current-collection-item-container {
  justify-content: center;
  display: inline-flex;
  padding: 0.5em;
  padding-bottom: 5em;
  max-width: 9.5em;
  flex-direction: column;
  position: relative;
}

h6.item-price {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.item-details {
  display: flex;
  position: relative;
  top: 10px;
  align-items: center;
  justify-content: space-between;
}

span.item-owner {
  font-size: 10px;
}

button.buy-item-small-btn {
  position: absolute;
  bottom: 0;
  transform: translate(0.5%);
  color: var(--secondary-background-text);
  width: 90%;
  margin-bottom: 7.5px;
}

button.buy-item-small-btn:hover {
  color: var(--background-text);
  background-color: var(--background-main);
  transition: all 0.2s ease;
}

div.MuiTabs-root {
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 38px;
  width: fit-content;
  align-self: center;
}

div.collection-tabs button.MuiTab-root {
  color: var(--background-text);
  min-height: 30px;
  height: 30px;
}

div.collection-tabs button.MuiTab-root.Mui-selected {
  z-index: 2;
  color: var(--background-main);
}

span.MuiTabs-indicator {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.78);
  height: 100%;
  align-items: flex-end;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
}

span.MuiTabs-indicatorSpan {
  height: 0.1em;
  max-width: 40px;
  width: 100%;
  background-color: var(--background-main);
  position: relative;
  bottom: 0.5em;
}

@media only screen and (max-width: 450px) {
  .current-collection-item-container {
    width: 80px;
    height: 80px;
  }

  .collection-item-image {
    width: 80px;
    height: 80px;
  }

  .collection-items {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 26px;
    width: 90%;
    max-width: 90%;
    justify-content: space-between;
    margin-top: 40px;
    overflow-y: auto;
  }
  span.item-owner {
    font-size: 8px;
    align-self: flex-end;
  }
  .item-details {
    flex-direction: column;
    align-items: flex-start;
  }
}
