.collection-image-container {
  background-color: white;
  border-radius: 12px;
  padding: 0.3em;
  display: flex;
  align-items: center;
}

.collection-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 50%;
  justify-content: flex-end;
}

.selected-collection-name {
  font-size: 40px;
  font-weight: 600;
}

.collection-image {
  width: 120px;
}

.selected-collection-owner {
  font-size: 18px;
}
.collection-info {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 14px;
}
.collection-floor-price,
.collection-supply,
.collection-owners,
.collection-listed,
.collection-total-volume {
  display: flex;
  flex-direction: column;
}
.collection-floor-price-value,
.collection-supply-value,
.collection-owners-value,
.collection-listed-value,
.collection-total-volume-value {
  font-size: 20px;
  font-weight: 600;
}

.search-item-input input {
  color: var(--secondary-background-text);
  font-family: "Inter", sans-serif;
}
