.collection-item-container {
  background-color: var(--main-darker);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--background-text);
}

.collection-item {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  width: 90%;
  gap: 1em;
}

.collection-item-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;

  height: calc(100% + 2em);
  position: relative;
  bottom: 2em;
}

.current-price-container {
  /* background-color: var(--background-secondary); */
  width: 100%;
  flex: 3;
  /* border: 1px solid var(--border-secondary); */
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--secondary-background-text); */
  /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); */
  max-height: 5em;
}
.current-price-stack {
  display: flex;
  flex-direction: row;
  width: calc(100% - 3em);
  justify-content: space-between;
  align-items: center;
  /* font-family: "Space Grotesk", sans-serif; */
}

.current-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.current-price-label {
  font-weight: 300;
}
.current-price-value {
  align-self: flex-end;
  font-weight: 700;
  font-size: 20px;
}

button.transaction-btn {
  text-transform: unset;
  font-family: inherit;
  padding: 1em 3em;
  border-radius: 30px;
  height: 45px;
}

button.buy-btn {
  color: var(--background-text);
  background-color: var(--main-darker);
  max-width: 6em;
}

button.buy-btn:hover {
  background-color: var(--main-lighter);
  transition: all 0.33s;
}
button.offer-btn {
  color: var(--secondary-background-text);
  background-color: var(--main-lightest);
  max-width: 8em;
}
button.offer-btn:hover {
  background-color: var(--background-secondary);
  box-shadow: none;
  transition: all 0.33s;
}

.collection-item-history-n-offers {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-secondary);
  border-radius: 19px;
  flex: 18;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.collection-item-image-container {
  flex: 1;
  display: flex;
  padding: 0em 1em;
  justify-content: center;
  border-radius: 4px;
}

.current-collection-item-image {
  display: flex;
  background-color: var(--background-secondary);

  min-width: 600px;
  min-height: 600px;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.15);
}

.current-collection-item-image:hover {
  transition: all 0.3s ease;
}

.collection-item-labels {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  /* position: relative; */
  /* bottom: 2.5em; */
}

h2.collection-item-name {
  margin: 0;
  font-size: 36px;
}

h6.collection-item-owner {
  margin: 0;
  font-size: 16px;
}

.MuiDataGrid-root.history-list {
  flex: 2;
}

div.MuiDataGrid-row[role="row"].history-row {
  color: var(--secondary-background-text);
}

div.MuiDataGrid-columnHeader[role="columnheader"].history-header {
  color: var(--secondary-background-text);
}

.MuiDataGrid-root.offers-list {
  flex: 1;
}

.MuiDataGrid-root.history-list,
.MuiDataGrid-root.offers-list {
  border: unset;
}

@media only screen and (max-width: 450px) {
  .collection-item-image-container {
    padding: 0;
    flex: unset;
  }

  .current-collection-item-image {
    min-width: 50%;
    min-height: 90%;
    width: 100%;
    height: 50%;
  }

  .collection-item {
    flex-direction: column;
    margin-top: 4em;
    gap: 0;
    height: calc(100% - 5em);
  }

  .collection-item-labels {
    gap: 0.5em;
    bottom: 0;
  }

  .collection-item-owner {
    position: absolute;
    right: 0;
  }

  .collection-item-info-container {
    position: relative;
    /* bottom: 2.5em; */
    height: 100%;
    flex: unset;
  }

  .collection-item-history-n-offers {
    /* min-height: 100%; */
  }
}

@media only screen and (min-width: 451px) and (max-width: 850px) {
  .collection-item-image-container {
    padding: 0;
    flex: unset;
  }

  .current-collection-item-image {
    min-width: 70%;
    min-height: 70%;
    margin-bottom: 3em;
    /* width: 100%; */

    /* height: 100%; */
  }

  .collection-item {
    flex-direction: column;
    margin-top: 4em;
    gap: 0;
    height: calc(100% - 5em);
  }

  .collection-item-labels {
    gap: 0.5em;
    bottom: 0;
  }

  .collection-item-owner {
    position: absolute;
    right: 0;
  }

  .collection-item-info-container {
    position: relative;
    /* bottom: 2.5em; */
    height: 100%;
    flex: unset;
  }

  .collection-item-history-n-offers {
    /* min-height: 100%; */
  }
}

.collection-item-info-container.regular {
  width: 30%;
}

@media only screen and (min-width: 451px) and (max-width: 850px) {
}
