.collection-container {
  background-color: var(--main-darker);
  color: var(--background-text);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
